
h1 {
    font-size: 25px;
}

.cardCss {
    margin: 5px;

}

.SingleColCss {
    margin-right: auto;
    margin-left: auto;
    max-width: 250px;
}

.coinCont {
    margin-top: 100px;
    text-align: center;
}

.navBrand {
    margin-right: 30px;
    color: #2e7d32;
    font-weight: bold;
    font-size: 16pt;
}


#spinnerSend {
    margin-top: 200px;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 9999;
    background-color: white;

}

.spinnerCont {
    margin-right: auto;
    margin-left: auto;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.moreBtn {
    margin: 10px;
    height: 30px;
    line-height: 10px;
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
    float: right;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}

.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background: green;

}

.errMsg {
    font-size: 14pt;
    color: red;
    text-align: right;
    margin: 25px;
}

.moreInfoP {
    margin-bottom: -15px;
}

#outReports {
    display: none;
}

#About {
    display: none;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.NavBtn {
    margin: 5px;
    font-weight: 500;
}

.NavBtn:hover {
    background-color: green;
    color: white;
}

#chartContainer{
    height: 370px;
    width: 100%;
}

.SwModal{
    float: left;

}
.CoinTextMod{
    margin: 10px;
}




