

h1 {
    font-size: 25px;
}


.cardCss {
    margin: 2px;
    margin-right: auto;
    margin-left: auto;
}
.coinCont{
    margin-top:200px;
}
.navBrand{
   margin-right: 30px ;
    color: #2e7d32;
    font-weight: bold;
    font-size: 16pt;
}






